html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    background: #d8d9da;
}

a {
    text-decoration: none;
}

a:hover,
a:active {
    color: #78c1f3;
}

/* start templatemo page container */
@media (min-width: 768px) {
    .container {
        width: 700px;
    }
    .container-fluid {
        width: 700px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 700px;
    }
    .container-fluid {
        width: 700px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1000px;
    }
    .container-fluid {
        width: 1000px;
    }
}
/* end templatemo page container */

/* start templatemo navigation */
.navbar {
    box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.08);
    padding: 0 !important;
}

.navbar .navbar-brand {
    font-weight: 600;
    font-size: 30px;
    height: 65px;
    line-height: 40px;
    padding: 0.715rem 0 0.715rem 0;
}

#top .navbar .navbar-brand:hover {
    color: #78c1f3;
}

.navbar .navbar-nav li a {
    height: 65px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    padding: 20px 0.715rem 0 0.715rem !important;
}

.navbar .navbar-nav li a:hover {
    color: #78c1f3;
}

.navbar-nav > .active > a,
.navbar-nav > .active > a:hover,
.navbar-nav > .active > a:focus {
    color: #78c1f3;
}

.nav-item {
    display: flex;
    align-items: center;
}

.navbar .navbar-toggle {
    border: none;
    padding-top: 18px;
}

.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
    background-color: transparent;
}
/* end templatemo navigation */

/* start slideshow */
.carousel .carousel-item img {
    width: 100%;
    min-height: 270px;
    object-fit: cover;
    display: block;
    aspect-ratio: 16 / 9;
}
/* end slideshow */

/* start about me*/
#about {
    color: #333;
    padding-top: 60px;
}

#about .profilepic {
    display: inline-block;
    height: 275px;
    width: auto;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-bottom: 35px;
}

#about h2 {
    font-weight: 400;
    margin-bottom: 15px;
}

#about h4 {
    font-weight: 600;
    padding-top: 6px;
    padding-bottom: 10px;
}

#about .progress {
    background: #999;
    height: 6px;
    margin: 10px 0 16px 0;
}

#about .progress .progress-bar-success {
    background: #78c1f3;
}
/* end about me*/

/* start skills*/
.skills {
  margin-top: 50px;
  margin-bottom: 50px;
}

.skills h3 {
    padding-bottom: 6px;
}

.skills .fa {
    background: rgb(26, 26, 26);
    border-radius: 50%;
    color: #fff;
    font-size: 28px;
    width: 75px;
    height: 75px;
    line-height: 75px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.skills .fa:hover {
    background: #303030;
    color: #78c1f3;
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}
/* end skills*/

/* start portfolio */
#portfolio {
    text-align: center;
    padding: 60px 0 60px 0;
}

#portfolio h2 {
  margin-bottom: 20px;
}

#portfolio .project {
    display: flex;
    justify-content: center;
}


#portfolio .btn-link {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

#portfolio button:hover {
    color: #78c1f3;
}

#portfolio .card-header-height {
  height: 70px;
}

#portfolio .card-body {
    border-top: 1px solid rgba(0, 0, 0, 0.175);
    padding: 0;
}

#portfolio .card {
    margin: 20px;
    border-radius: 6px;
    max-width: 300px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

#portfolio p {
    padding: 10px;
}

#portfolio .col-md-3 {
    padding: 4px;
}

#portfolio .modal-content {
    color: black;
}
#portfolio .modal-header h1 {
    padding-right: 5px;
}
#portfolio .project-link {
    font-size: 18px;
    padding-right: 5px;
}
/* end portfolio */

/* start templatemo contact */
#contact {
    background: #303030;
    color: white;
    padding: 80px 0 80px 0;
}
#contact h2 {
    font-weight: 400;
}
#contact .text-center p {
    padding: 0 0 60px 0;
}
#contact h2,
#contact h3 {
    color: white;
    padding: 0 0 20px 0;
}

#contact a {
    color: #78c1f3;
}

#contact .contact-box {
    background-color: #d8d9da !important;
}

#contact .form-control {
    background: transparent;
    border: 1px solid #444;
    border-radius: 0px;
    margin: 10px 0 10px 0;
}
#contact input {
    height: 60px;
}
#contact .form-control:focus {
    background: #444444;
    border-color: transparent;
    box-shadow: none;
}
#contact input[type="submit"] {
    color: #fff;
    font-weight: 600;
    letter-spacing: 1px;
    max-width: 220px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
#contact input[type="submit"]:hover {
    background: #78c1f3;
    border-color: transparent;
    color: #fff;
}
#contact .address {
    padding: 20px;
    padding-top: 0;
    margin: 0;
}
#contact .fa {
    color: #78c1f3;
    font-size: 20px;
    padding: 6px 10px 6px 0;
}
/* end templatemo contact */

/* start templatemo footer */
footer {
    border-top: 1px solid #404040;
    background: #202020;
    color: #fff;
    padding: 80px 0 40px 0;
}
footer .social_icon a {
    border: 1px solid #fff;
    border-radius: 50%;
    color: #fff;
    font-size: 16px;
    min-width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    margin: 0 4px 24px 6px;
}
footer .social_icon a:hover {
    border-color: transparent;
    background: #78c1f3;
}
/* end templatemo footer */

@media only screen and (max-width: 480px) {
    .navbar .navbar-brand {
        font-size: 25px;
    }

    .navbar-default .navbar-collapse {
        padding-left: 20px;
        padding-right: 20px;
    }

    #about h5 {
        font-size: 12px;
    }

    .skills .fa {
        font-size: 25px;
        max-width: 60px;
        height: 60px;
        line-height: 60px;
    }

    .skills h3 {
        font-size: 15px;
    }
}

/* start 768 media quires */
@media only screen and (max-width: 768px) {
    .navbar .navbar-brand {
        margin-left: 20px;
    }
    .navbar .navbar-nav {
        margin: 0;
    }
    .navbar-default .navbar-collapse {
        padding-left: 20px;
        padding-right: 20px;
    }
}
/* end 768 media quires */

/* start 680 media quires */
@media only screen and (max-width: 680px) {
    .navbar .navbar-nav li a {
        border-bottom: 1px solid #f6f6f6;
        line-height: normal;
        height: 40px;
    }
}
